@use "sass:math";

@mixin font-scale($scale) {
  $font-scale: 1.125;
  font-size: 1em * math.pow($font-scale, $scale);
}

@mixin container {
  margin-left: auto;
  margin-right: auto;
  width: 96%;
  max-width: 960px;
}

@mixin touch-target {
  display: inline-flex;
  align-items: center;
  min-height: 44px;
  min-width: 44px;
}
